.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.top-inputsearch{
  display: flex;
  flex-direction: row;
  background-color: #ffff;
  /* border: 1px solid red; */
  border-radius: 4px;
  padding: 5px 10px;
}
.input{
  border: none;
  
}

.main-container{
   margin: 20px;
   background-image: linear-gradient(to bottom, #fff1eb,#dfe2e5,#ace0f9);
   height: 100vh;
   width: 100vw;
   display: flex;
   /* border: 1px solid red; */
   flex-direction: column;
   justify-content: center;
   align-items:  center;
   
  
}
.tablist-container{
  display: flex;
  /* padding-left: 10px; */
  /* width: 100%; */
 
  /* border: 1px solid rgb(213, 120, 32); */
}
.appsList-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* w:  70%; */
  width: 80%;
  height: 50%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  /* border-radius: 10px; */
}